<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Набронировал</title>
</head>

<body>
    <div>
        {% for hotel in hotels %}
        <div style="display: flex; margin-bottom: 15px; margin-left: 400px;">
            <img src="{{url_for('static', path='images/' + hotel.image_id|string + '.webp')}}" alt="Фото отеля"
                width="200">
            <div>
                <h1>{{hotel.name}}</h1>
                <h4>{{hotel.location}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>